body {
    height: 100%;
    margin: 0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: #101820;
    font-weight: 400;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto; /* выравниваем блок по центру */
}

/* HEADER */
.header__up {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
    font-size: 25px;
}

.header__up .logo {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo__img {
    height: 100px;
    padding: 10px;
}

.header__up .logo .logo__text span {
    color: #A50034;
}

.logo__img img {
    height: 100%;
}

.header__up .tagline span {
    color: #A50034;
}

.style__button button {
    color: #FFFFFF;
    border: none;
    border-radius: 24px;
    background: #A50034;

    font-size: 20px;
    font-weight: bold;
    padding: 5px 30px;
    box-shadow: 2px 4px 10px rgba(165, 0, 0, 0.6);

    cursor: pointer;
    outline-style: none;

    transition: all 0.1s linear;
}

.style__button button:hover {
    box-shadow: 2px 4px 8px rgba(165, 0, 0, 0.8);
}

header nav {
    text-align: center;
}

header nav .nav__link + .nav__link {
    margin-left: 20px;
}

header nav .nav__link {
    font-size: 16px;
    text-decoration: none;
    color: #101820;

}

header nav .nav__link:hover {
    position: relative;
}

header nav .nav__link::after {
    display: block;
    content: "";
    position: absolute;
    height: 1px;
    background: #A50034;
    left: 0;
    opacity: 0;

    transition: opacity 0.3s linear;
}

header nav .nav__link:hover::after {
    display: block;
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: #A50034;
    left: 0;
    opacity: 1;
}

.dropdown {
    display: inline;
    position: relative;
    padding-bottom: 10px;
}

.dropdown__section {
    display: none;
    position: absolute;
    padding: 5px;
    padding-right: 10px;

    background: #FFFFFF;
    border: 1px #A50034 solid;
    box-shadow: rgb(165, 0, 0) 4px 4px 10px;
    border-radius: 10px 0 10px 10px;
    left: 0;
    top: 25px;
    z-index: 1000000;
}

.dropdown:hover .dropdown__section {
    display: block;
}

.dropdown .item {
    position: relative;
    padding-left: 20px;
}

.dropdown .item + .item {
    margin-top: 5px;
}

.dropdown .item .icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 10px;
    color: #A50034;
}

.dropdown .item .text {
    font-size: 16px;
    text-decoration: none;
    color: #101820;
}

.dropdown .item .text:hover {
    opacity: .8;
}

/* INTRO */

.intro {
    margin-top: 30px;
    margin-bottom: 60px;
}

.intro__inner {
    position: relative;
}

.intro__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro__text-block {
    width: 50%;
    padding: 20px 30px;
}

.intro__text-block-item {
    transition: opacity 0.2s linear;
}

.intro__text {
    margin-bottom: 45px;
}

.intro__title {
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 5px;
}

.intro__text-block p {
    font-size: 19px;
}

.style__button.intro__button button {
    padding: 10px 30px;
}

.vertical__slider__inner .slider__item {
    border: none!important;
    outline-style: none!important;
}

.intro__slider {
    margin-left: 50%;
    padding-right: 15px;
    top: 0;
    right: 0;
}

.slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__img {
    width: 100%;
    height: 450px;
}

.slick-list {
    border-radius: 10px;
    box-shadow: 6px 6px 12px #101820;
}

.vertical__slider__inner {
    position: relative;
    outline-style: none;
}

.vertical__slider__inner .intro__btn.intro__btn--pref:after,
.vertical__slider__inner .intro__btn.intro__btn--next:after {
    content: "";
    display: block;
    border-left: 3px #A50034 solid;
    border-top: 3px #A50034 solid;
    width: 8px;
    height: 8px;

    cursor: pointer;
}

.vertical__slider__inner .intro__btn.intro__btn--pref {
    top: 40%;
}

.vertical__slider__inner .intro__btn.intro__btn--next {
    bottom: 40%;
}

.vertical__slider__inner .intro__btn.intro__btn--pref:after {
    transform: rotate(45deg);
}

.vertical__slider__inner .intro__btn.intro__btn--next:after {
    transform: rotate(225deg);
}

.vertical__slider__inner ul.slick-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    padding: 10px 0;
    margin: 0;
}

.vertical__slider__inner .slick-arrow {
    font-size: 0;
    border: 0;
    position: absolute;
    left: 62px;
    background: transparent;
    padding: 0;

    z-index: 100000;

    outline-style: none;
}

.intro__dots button {
    border: none;
    font-size: 0;
    background: transparent;
    position: relative;
    outline-style: none;
}

.intro__dots button:after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #A50034;
    height: 10px;
    width: 10px;
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    cursor: pointer;
}

.intro__dots li {
    list-style-type: none;
    position: relative;
    height: 2px;

    display: flex;
}

.intro__dots li + li {
    margin-top: 15px;
}

.intro__dots li.slick-active button:after {
    background-color: #A50034;
}


/* WHY US */
/*
.why-us {
    background-color: rgba(211, 188, 141, 0.1);
}

.why-us__inner {
    padding-top: 35px;
    padding-bottom: 50px;
}

.why-us__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.why-us__title span {
    color: #A50034;
}

.cards__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.cards__item {
    width: 22%;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(165, 0, 0);
    border: #A50034 1px solid;
    background: #FFFFFF;
    cursor: pointer;

    transition: all .1s linear;
}

.cards__item:hover {
    box-shadow: 2px 2px 5px rgb(165, 0, 0);
}

.cards__item-inner {
    padding: 10px;
}

.cards__title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    line-height: 1;
}

.cards__title span {
    color: #A50034;
}

.cards__icon {
    padding: 0 30%;
}

.cards__icon img {
    width: 100%;
}

.cards__text {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    height: 110px;
}*/
.why-us {
    background-color: rgba(211, 188, 141, 0.1);
}

.why-us__inner {
    padding-top: 40px;
    padding-bottom: 35px;
}

.why-us__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.why-us__title span {
    color: #A50034;
}

.cards__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.cards__item {
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(165, 0, 0);
    border: #A50034 1px solid;
    background: #FFFFFF;
    cursor: pointer;
    width: 16%;

    transition: all .1s linear;
}

.cards__item:hover {
    box-shadow: 2px 2px 5px #A50034;
}

.cards__item-inner {
    padding: 10px;
}

.cards__title span {
    color: #A50034;
}

.cards__icon {
    padding: 0 30%;
}

.cards__icon img {
    width: 100%;
}

.cards__text {
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    font-weight: 600;
	line-height: 28pt;
}


/* NEWS */

.news {
    padding: 40px 0;
}

.news__inner {
    position: relative;
}

.news__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.news__title-block {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
}

.news__title-block span {
    color: #A50034;
}

.news__text-block {
    width: 50%;
    margin-left: 50%;
    padding: 20px 20px 20px 40px;
}

.news__text-block-item {
    transition: opacity 0.2s linear;
}

.news__text {
    margin-bottom: 30px;
}

.news__title {
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 5px;
}

.news__text-block p {
    font-size: 17px;
}

.style__button.news__button button {
    padding: 10px 30px;
}

.horizontal__slider__inner .slider__item {
    border: none!important;
    outline-style: none!important;
}

.news__slider {
    margin-right: 50%;
    margin-left: 15px;
    top: 0;
    right: 0;
}

.news__img img {
    width: 100%;
}

.horizontal__slider__inner .slick-list {
    border-radius: 10px;
    box-shadow: 6px 6px 12px #101820;
}

.horizontal__slider__inner {
    position: relative;
    outline-style: none;
}

.horizontal__slider__inner .news__btn.news__btn--pref:after,
.horizontal__slider__inner .news__btn.news__btn--next:after {
    content: "";
    display: block;
    border-left: 5px #A50034 solid;
    border-top: 5px #A50034 solid;
    width: 16px;
    height: 16px;
}

.news__btn.news__btn--pref {
    left: 20px;
}

.news__btn.news__btn--next {
    right: 20px;
}

.news__btn.news__btn--pref:after {
    transform: rotate(-45deg);
    margin-left: 13px;
}

.news__btn.news__btn--next:after {
    transform: rotate(135deg);
    margin-left: 9px;
}

.horizontal__slider__inner .slick-arrow {
    font-size: 0;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;

    z-index: 100000;

    outline-style: none;
    cursor: pointer;
    transition: background-color .1s linear;
}

.horizontal__slider__inner .slick-arrow:hover {
    background: rgba(255, 255, 255, 0.8);
}

/* POLITICIANS */

.politicians {
    background: rgba(211, 188, 141, 0.1);
}

.politicians__inner {
    padding: 40px 0;
}

.politicians__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.politicians__title span {
    color: #A50034;
}

.politicians__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.politicians .col {
    width: 19%;
}

.politicians .col-long {
    width: 58%;
}

.politicians__cards .item {
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(165, 0, 0);
    border: #A50034 1px solid;
    background: #FFFFFF;
    cursor: pointer;
    display: block;
    color: #101820;

    padding: 20px 10px;
    padding-top: 5px;
    transition: all .1s linear;
    text-decoration: none;
}

.politicians__cards .item:hover {
    box-shadow: 2px 2px 5px rgb(165, 0, 0);
}

.politicians__cards .item__title {
    font-weight: bold;
    text-align: center;
    font-size: 34px;
}

.politicians__cards .item__icon {
    height: 130px;
}

.politicians__cards .item__icon img {
    height: 100%;
}

.politicians__cards .col .item__icon {
    text-align: center;
    padding-top: 5px;
}

.politicians__cards .col-long .item + .item {
    margin-top: 20px;
}

.politicians__cards .col-long .item:first-child .item__text {
    padding-left: 160px;
}

.politicians__cards .col-long .item:last-child .item__text {
    padding-right: 160px;
}

.politicians__cards .col-long .item {
    position: relative;
}

.politicians__cards .col-long .item:first-child  .item__icon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.politicians__cards .col-long .item:last-child  .item__icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.politicians__cards .col-long .item__text {
    height: 123px;
    padding-top: 10px;
}

.politicians__cards .col .item__text {
    height: 205px;
    padding-top: 30px;
}

.politicians__cards .item__text {
    font-size: 19px;
}

/* OUR PARTNERS */
.our__partners {
    background: rgba(211, 188, 141, 0.1);
}

.our__partners__inner {
    padding: 40px 0;
}

.our__partners__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.our__partners__title span {
    color: #A50034;
}

.our__partners__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.our__partners__cards .item {
    width: 17%;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 4px 4px 10px rgb(165, 0, 0);
    border: #A50034 1px solid;
    background: #FFFFFF;
    cursor: pointer;
    display: block;
    padding: 15px;
    transition: .1s linear all;
}

.our__partners__cards .item:hover {
    box-shadow: 2px 2px 5px rgb(165, 0, 0);
}

.our__partners__cards .item__icon img {
    width: 100%;
}

/* SOLUTIONS */
.solutions__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
}

.solutions__title span {
    color: #A50034;
}

.solutions__inner {
    padding: 30px 0;
}

.solutions__section {
    position: relative;
}

.solutions__section .buttons {
    display: flex;
    justify-content: space-between;
}

.solutions__section .button {
    background: #FFFFFF;
    width: 48%;
    padding: 5px 0;
    box-shadow: rgba(165, 0, 0, 0.8) 4px 4px 8px;
    border: 1px solid rgba(165, 0, 52, 0.8);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;

    cursor: pointer;
}

.solutions__section .button span {
    color: #A50034;
}

.solutions__section .directions__button {
    border-radius: 0 10px;
}

.solutions__section .industries__button {
    border-radius: 10px 0;
}

.solutions__section .button.active {
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    position: relative;
    cursor: auto;
    opacity: 1;
}

.solutions__section .buttons__white {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 45px;
    z-index: 1000000;
}

.solutions__section .button.active::after {
    content: "";
    display: block;
    position: absolute;

    width: 100%;
    bottom: -5px;
    height: 20px;
    z-index: 10000;
    background: #FFFFFF;
}

.solutions__section .directions__button.active::after {
    left: 0px;
}
.solutions__section .industries__button.active::after {
    right: 0px;
}


.solutions__item {
    display: none;
    border: 1px solid rgba(165, 0, 52, 0.8);
    background: #FFFFFF;
    position: relative;
    width: 100%;

    box-shadow: 4px 4px 10px rgba(165, 0, 0, 0.8);

    padding: 20px 15px;
}

.solutions__item .col-1 {
    width: 20%;
}

.solutions__item .col-2 {
    width: 77%;
}

.solutions__item.active {
    display: flex;
    justify-content: space-between;
}

.solutions__item.directions {
    border-radius: 0 10px 10px 10px;
}

.solutions__item.industries {
    border-radius: 10px 0 10px 10px;
}

.solutions .menu {
    padding: 5px;
    width: 100%;
    border: 1px solid #A50034;
    border-radius: 10px;
}

.solutions .menu__item {
    padding: 8px 0;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
}

.solutions .menu__item .icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #A50034;
    font-size: 16px;
}

.solutions .menu .menu__text {
    font-size: 16px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}


.solutions .menu .menu__text:hover {
    text-decoration: underline #A50034;
}

.solutions .menu .menu__item.active .menu__text {
    text-decoration: underline #A50034;
}

.solutions .text-block {
    font-size: 19px;
    padding-bottom: 25px;
    padding-top: 10px;
}

.solutions .doc-block {
    display: flex;
    justify-content: space-between;
}

.solutions .documents {
    width: 52%;
}

.solutions .doc-block .title {
    font-size: 20px;
    font-style: italic;
    padding-bottom: 10px;
}

.solutions .documents__list .item {
    position: relative;
    padding: 5px 0;
    padding-left: 35px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .1s linear;
}

.solutions .documents__list .item:hover {
    opacity: 0.8;
}

.solutions .documents__list .item .text {
    font-size: 16px;
    font-style: italic;
}

.solutions .documents__list .icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #D3BC8D;
}

.solutions .short__text {
    height: 200px;
    background: #D3BC8D;
    width: 46%;
}

/* ADVANTAGES */
.advantages {
    background: rgba(211, 188, 141, 0.1);
}

.advantages__inner {
    padding: 40px 0;
}

.advantages__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.advantages__title span {
    color: #A50034;
}

.advantages__text {
    padding: 30px 0 0 0;
    font-size: 20px;
}

.advantages__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.advantages .col {
    width: 20%;
}

.advantages .col-long {
    width: 57%;
}

.advantages__cards .item {
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(165, 0, 0);
    border: #A50034 1px solid;
    background: #FFFFFF;
    cursor: pointer;
    display: block;
    color: #101820;

    padding: 3px 13px;
    transition: all .1s linear;
    text-decoration: none;
}

.advantages__cards .item:hover {
    box-shadow: 2px 2px 5px rgb(165, 0, 0);
}

.advantages__cards .item__title {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
}

.advantages__cards .col .item__icon img {
    height: 100%;
}

.advantages__cards .col-long .item__icon img {
    width: 100%;
}

.advantages__cards .col .item__icon {
    text-align: center;
    height: 100px;
    padding: 5px 0;
}

.advantages__cards .col-long .item + .item {
    margin-top: 18px;
}

.advantages__cards .col-long .item .item__text {
    padding-left: 115px;
    height: 130px;
}

.advantages__cards .col .item .item__text {
    height: 426px;
}

.advantages__cards .col-long .item {
    position: relative;
    padding-bottom: 10px;
}

.advantages__cards .col-long .item .item__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 85px;
}

.advantages__cards .item__text {
    font-size: 19px;
    padding-top: 10px;
}

/* COMPANY IN NUMBERS */
.company__in__numbers {
    background-color: rgba(211, 188, 141, 0.1);
}

.company__in__numbers_inner {
    Padding-top: 0px;
    padding-bottom: 20px;
}

.company__in__numbers__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.company__in__numbers__title span {
    color: #A50034;
}

.company__in__numbers__cards {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.company__in__numbers__item {
    width: 22%;
    background: url("../img/wreath.png");
    background-size: 100% 100%;
    width: 16%;

    transition: all .1s linear;
}

.company__in__numbers__cards__text {
	line-height: 22pt;
    text-align: center;
    padding-top: 0px;
    font-size: 24px;
    font-weight: 600;
    height: 110px;
}

.company__in__numbers__cards__text span {
    color: #A50034;
    font-size: 50px;
	line-height: 24pt;
}

.company__in__numbers__cards__text span2 {
    color: #A50034;
}

/* WHO STANDARDS HELP */

.who__standards__help {

}

.who__standards__help__inner {
    padding: 40px 0;
}

.who__standards__help__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.who__standards__help__title span {
    color: #A50034;
}

.who__standards__help__inner__text {
    padding: 30px 0 0 0;
    font-size: 20px;
}

.who__standards__help__inner__text span2 {
    font-weight: bold;
    text-decoration: underline;
}

.who__standards__help__inner__text span3 {
    text-decoration: underline;
    font-style: italic;
}



/* INTEGRATED MANAGEMENT SYSTEM */

.integrated__management__system {

}

.integrated__management__system__inner {
    padding: 40px 0;
}

.integrated__management__system__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.integrated__management__system__title span {
    color: #A50034;
}

.integrated__management__system__inner__text {
    padding: 30px 0 0 0;
    font-size: 20px;
}

.integrated__management__system__inner__text span {
    color: #A50034;
}

.integrated__management__system__inner__text span2 {
    font-weight: bold;
    text-decoration: underline;
}

/* FOOTER */
.footer__text__main span {
    color: #A50034;
}

.footer__gray {
    width: 100%;
    background: rgba(16, 24, 32, 0.8);
}

.text__in__gray__footer {
    color: #fff;
    font-size: 26px;
    padding-left: 30px;
}

.footer__inner {
    display: flex;
    /*padding-right: 40px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    font-weight: bold;

}

.col__1, .col__2 {
    display: flex;
    align-items: center;
}

.button__in__gray_footer {
    margin-right: 20px;
}

.footer__black {
    background: rgb(16, 24, 32);
}

.footer__text__main {
    color: #fff;
    font-size: 22px;
    padding-left: 20px;
}

.copyright {
    color: rgba(211, 188, 141, 0.6);
    font-weight: 400;
    font-size: 16px;
    margin-left: 40px;
}

.footer__icons {
    display: inline-block;
}

.footer__black a {
    color: #D3BC8D;
    font-size: 24px;
    transition: opacity .1s linear;
}

.footer__black a + a {
    margin-left: 17px;
}

.footer__black a:hover {
    opacity: 0.8;
}

.footer__text {
    color: rgba(211, 188, 141, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-right: 24px;
}

.footer__gray .footer__inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon__links {
    font-size: 10px;
}

.icon__links a {
    color: #101820;
}

 /* POPUP */
.b-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    z-index: 1000000;
    top: 0px;
}

.b-popup .b-popup-content {
    width: 35%;
    padding: 20px 35px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(162, 0, 0, .6);
    border: 1px solid #A50034;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup__title {
    font-size: 28px;
    text-align: center;
    color: #101820;
    font-weight: bold;
}

.popup__forms {
    text-align: center;
    margin-top: 20px;
}

.popup__forms input {
    width: 100%;
    border: none;
    background: rgba(211, 188, 141, 0.2);
    margin-bottom: 20px;
    height: 50px;
    border-radius: 22px;
    outline-style: none;
    padding: 20px;
    font-size: 15px;
}

.popup__forms textarea {
    width: 100%;
    border: none;

    border-radius: 22px;
    outline-style: none;
    background: rgba(211, 188, 141, 0.2);
    padding: 10px 20px;
    font-size: 18px;
    resize: none;
}

.popup__forms textarea::placeholder {
    font-family: Calibri;
    font-size: 18px;
}

.b-popup .checkboxes {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

.b-popup .checkboxes span {
    color: #A50034;
}

.b-popup .checkboxes .personal__data {
    margin-bottom: 10px;
}

.b-popup .style__button {
    text-align: center;
}

.b-popup .style__button button {
    font-size: 18px;
}

/* AUDIT IN MANAGEMENT */

.audit__in__management {
    background: rgba(211, 188, 141, 0.1);
}

.audit__in__management__inner {
    padding: 40px 0;
}

.audit__in__management__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.audit__in__management__title span {
    color: #A50034;
}

.audit__in__management__inner__text {
    padding: 30px 0 0 0;
    font-size: 20px;
}

.audit__buttons {
    padding-top: 20px;
}

.audit__buttons .col-1 .items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.audit__buttons .col-2 .items1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

.audit__buttons .hider,
.audit__buttons .hider1 {
    position: absolute;
    background: #FFFFFF;
    height: 20px;
    width: 100%;
    bottom: -15px;
    left: 0;
    z-index: 100;
}

.audit__buttons .item,
.audit__buttons .item1 {
    width: 15%;
    text-align: center;
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
    background: #FFFFFF;
    border: 1px solid rgb(165, 0, 0);
    box-shadow: 4px 4px 10px rgba(165, 0, 0, .6);
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.audit__buttons .item.active,
.audit__buttons .item1.active {
    padding-bottom: 50px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.audit__buttons .item__text {
    border: 1px solid rgb(165, 0, 0);
    box-shadow: 4px 4px 10px rgba(165, 0, 0, .6);
    border-radius: 10px;
    background: #FFFFFF;
    padding: 15px;
    position: relative;
    z-index: 10;
}















/* MEDIA WIDTH 1200 */
@media (max-width: 1200px) {

    .slider__img {
        height: 320px;
    }

    .vertical__slider__inner .intro__btn.intro__btn--pref {
        top: 35%;
    }

    .vertical__slider__inner .intro__btn.intro__btn--next {
        bottom: 35%;
    }

    /* HEADER */
    .header__up {
        font-size: 21px;
    }

    header nav .nav__link {
        font-size: 15px;
    }

    .dropdown .item .icon {
        font-size: 9px;
    }

    .dropdown .item .text {
        font-size: 15px;
    }

    /* NEWS, INTRO */

    .news__title,
    .intro__title {
        font-size: 40px;
    }

    .news p,
    .intro p {
        font-size: 16px;
    }

    .news__text {
        margin-bottom: 20px;
    }


    /* WHY US */

    .why-us .cards__title {
        font-size: 34px;
    }

    .why-us .cards__text {
        font-size: 17px;
    }

    /* POLITICIANS */

    .politicians .item__title {
        font-size: 32px;
    }

    .politicians .item__icon {
        height: 95px;
    }

    .politicians .item__text {
        font-size: 17px;
    }

    .politicians .col-long .item:first-child .item__text {
        padding-left: 130px;
    }

    .politicians .col-long .item:last-child .item__text {
        padding-right: 130px;
    }

    .politicians .col .item__text {
        height: 237px;
    }

    /* SOLUTIONS */

    .solutions__item .col-1 {
        width: 21%;
    }

    .solutions .menu__item {
        padding-left: 20px;
    }

    .solutions .menu__item .icon {
        font-size: 14px;
        left: 0;
    }

    .solutions .menu .menu__text {
        font-size: 14px;
    }

    /* ADVANTAGES */
    .advantages__cards .item__title {
        font-size: 21px;
    }

    .advantages__cards .item__text {
        font-size: 16px;
    }

    .advantages__cards .col .item .item__text {
        height: 414px;
    }

    /* FOOTER */
    .footer__text__main {
        font-size: 20px;
        padding-left: 5px;
    }

    .copyright {
        font-size: 15px;
        margin-left: 15px;

    }

    .footer__text {
        font-size: 15px;
        margin-right: 10px;
    }

    .footer__black a {
        font-size: 20px;
    }

    .footer__black a + a {
        margin-left: 10px;
    }

}


/* MEDIA WIDTH 992 */
@media (max-width: 992px) {
    .header__up {
        font-size: 18px;
    }

    header nav .nav__link {
        font-size: 13px;
    }

    .dropdown .item .icon {
        font-size: 8px;
    }

    .dropdown .item .text {
        font-size: 13px;
    }

    /* NEWS, INTRO */

    .news__title,
    .intro__title {
        font-size: 38px;
    }

    .news p,
    .intro p {
        font-size: 14px;
    }

    .news__text {
        margin-bottom: 20px;
    }

    /* WHY US */

    .why-us .cards__title {
        font-size: 32px;
    }

    .why-us .cards__text {
        font-size: 15px;
    }

    /* POLITICIANS */

    .politicians .item__title {
        font-size: 30px;
    }

    .politicians .item__text {
        font-size: 16px;
    }

    .politicians .col .item__text {
        height: 233px;
    }

    /* SOLUTIONS */
    .solutions__item .col-1 {
        width: 24%;
    }

    .solutions__item .col-2 {
        width: 74%;
    }

    .solutions .text-block {
        font-size: 12px;
    }

    /* ADVANTAGES */
    .advantages__cards .item__title {
        font-size: 19px;
    }

    .advantages__cards .item__text {
        font-size: 15px;
    }

    .advantages__cards .col-long .item .item__text {
        height: 115px;
    }

    .advantages__cards .col .item .item__text {
        height: 364px;
    }

    /* FOOTER */
    .footer__text__main {
        font-size: 18px;
        padding-left: 5px;
    }

    .copyright {
        font-size: 15px;
        margin-left: 15px;

    }

    .footer__text {
        font-size: 15px;
        margin-right: 10px;
    }

    .footer__black a {
        font-size: 17px;
    }

    .footer__black a + a {
        margin-left: 8px;
    }
}


/* MEDIA HEIGHT 1600 */
@media (min-width: 1600px) {
    .slider__img {
        height: 550px;
    }
}

/* MEDIA HEIGHT 2000 */
@media (min-width: 2000px) {
    .slider__img {
        height: 700px;
    }
}



/*@media (min-width: 1441px) {
    .intro__text-block {
        padding-left: 10%;
    }
}*/

