.worldmap {
    fill: #ccc; 
    stroke: white;
    stroke-width: 2px;
}

.worldmap:hover {
    fill: #ccc;
    stroke: white;
    stroke-width: 2px;
}

.worldmap_1 {
    fill: #D3BC8D;
    stroke: white;
    stroke-width: 2px;
    transition: fill 0.1s linear;
}

.worldmap_1:hover,
.worldmap_1.active {
    fill: #A50034;
}

/* MY EDIT */
.map__inner {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#map {
    width: 66%;
    height: 450px;
}

.description {
    width: 28%;
    border: #A50034 1px solid;
    box-shadow: #A50034 4px 4px 6px;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
}

.map__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-top: 40px;
}

.map__title span {
    color: #A50034;
}
